@import "~font-awesome/css/font-awesome.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";

html{
	padding:0px;
	margin:0px;
	border:0px;
}

h1 {
 font-family: "FatFrank", sans-serif;
}

h3 {
	margin: 0;
}

.repo-list-container{
	padding-left: 50px;
	padding-right: 50px;
}

.repo{
	float:left;
	border: solid black 1px;
	border-radius: 10px;
	margin-top: 2px;
}

body {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #1A1A1A;
}

#webchatWindow.set-driver-view{
	z-index: 1;
	float:left;
}

#localWebchat.set-driver-view{
	z-index: 1;
	float:right;
}

#video-container.video-padding{
	padding-right:50px;
	padding-left:50px;
}

#video-container.video-text-editor{
	height:100px;
}

.webchatWindow-text-editor{
	width:100%;
	position:relative;
	z-index: 1;
}

.localWebchat-text-editor{
	width:33%;
	top:5px;
	right:300px;
	position:absolute;
	z-index: 2;
}

.set-driver{
	text-align: center;
}

.text-center{
	text-align: center;
}

#text-editor{
	float:right;
}

.text-editor{
	padding:0px;
}

.admin-btn-container{
	float:right;

}

.admin-btn{
	float:left;
	font-size: 25px;
	margin:5px;
}

#file-container{
	margin-bottom: 10px;

}


#file-selector{
	margin:5px;
	float:left;
	width: 200px;
}

#file-list-container{
	max-height: 300px;
	overflow: scroll;
	size: 15px;
}

ul {
	list-style: none;
}

li{
	padding:2px;
}

#files{
	font-size: 15px;
}

.close-btn{

}

/*.footer{
	float:left;
	margin:5px;
	font-size: 15px;
	display: inline-block;
	font-family: "FatFrank", sans-serif;
}*/

/*.footer.footer-btn{
	float:left;
	margin:5px;
	padding-top:5px;
	font-size: 15px;
	display: inline-block;
	font-family: "FatFrank", sans-serif;

}*/

.fa.fa-git{
	font-size:30px;
}

footer{
	bottom: 0;
	position: absolute;
}

.logo-landing{
	height: 300px;
	margin: auto;
	margin-top: 50px
}

.title-landing{
	height: 200px;
	margin: auto;
}

.desc{
	text-align: center;
	font-size: 20px;
	margin-bottom: 50px;
}

.login-button{
	width: 300px;
	margin-top: 30px;
	margin: auto;
	background-color: #AAE034;
	color: white;
}

.callToAction{
	font-size: 20px;
	color: grey;
	font-style: italic;
	margin: 10px;
}

.callToAction:hover{
	cursor: default;
	text-decoration: underline;
}

.logo-nav{
	width: 200px;
	float: left;
	margin-left: 20px;
}
